{
    "printWidth": 80,
    "parser": "vue",
    "tabWidth": 2,
    "embeddedLanguageFormatting": "auto",
    "singleQuote": true,
    "useTabs": true,
    "bracketSameLine": true,
    "vueIndentScriptAndStyle": true
}
